.modalContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10000000;
}

.modal {
    width: 90%;
    max-width: 400px;
    height: 500px;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.closeIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #FFFFFF;
    position: absolute;
    top: -7px;
    right: -7px;
    border-radius: 50%;
}